body {
   background-color: black;
   font-family: Arial, Helvetica, sans-serif;
   color: rgb(210, 210, 210);
   height: 100%;
}

#instructions {
   font-weight: bold;
}

#instructions > a {
   color: gold;
   font-size: 0.7em;
   border: 0.175em;
   border-style: dashed;
   margin-left: 0.5em;
   padding: 0.3em 0.4em 0.3em 0.4em;
   text-decoration: none;
   vertical-align: middle;
}

#source_link {
   font-size: 1.2em;
   margin-top: 1.75em;
}

#source_link > a {
   color: green;
   text-decoration: none;
}

ul {
   list-style: none;
   justify-content: left;
   padding-inline-start: 40px;
}

ul.sub_list {
   padding-inline-start: 0px;
}

ul.portal_list {
   padding-inline-start: 0px;
   padding-right: 20px;
   margin-left: 10px;
   font-size: 18px;
   display: flex;
   flex-wrap: wrap;
}

#master_item_counter {
   margin-top: 16px;
   height: 30px;
   font-size: 20px;
   margin-left: 4px;
}

input.counter {
   width: 50px;
   height: 30px;
   font-size: 22px;
   border: none;
   position: relative;
   top: -1px;
   background: white;
   padding-top: 0px;
   padding-bottom: 0px;
   font-weight: bold;
}

#settings_title {
   border-bottom: 0.5em;
   border-bottom-style: dashed;
   border-bottom-width: 0.1em;
   font-size: 1.5em;
   margin-bottom: 0.7em;
   color: cyan;
   width: 16em;
}

#settings > a {
   color: gold;
   font-size: 1.1em;
   border: 0.175em;
   border-style: dashed;
   padding: 0.3em 0.4em 0.3em 0.4em;
   text-decoration: none;
}

#settings > #restore {
   color: crimson;
   font-size: 1.1em;
   border: 0.175em;
   border-style: dashed;
   padding: 0.3em 0.4em 0.3em 0.4em;
   text-decoration: none;
   cursor: pointer;
   margin-left: 0.1em;
}

#settings > select,
label {
   font-size: 1.2em;
}

select.total {
   width: 50px;
   height: 30px;
   font-size: 22px;
   margin-left: 2px;
   margin-right: 20px;
   border: none;
   font-weight: bold;
}

select.boss {
   width: 50px;
   min-width: 50px;
   height: 30px;
   font-size: 20px;
   font-weight: bold;
}

.cb {
   width: 170px;
   min-width: 170px;
   display: inline-block;
   height: 30px;
}

#portal_list {
   float: left;
   width: 500px;
   border-width: 2px;
   border-color: white;
   padding-right: 0px;
   height: 100%;
   margin-top: -10px;
}

.portal {
   display: inline-block;
   background-color: limegreen;
   color: black;
   border-style: solid;
   border-width: 2px;
   border-color: black;
   list-style: none;
   padding: 2px 5px 2px 5px;
   line-height: 32px;
   text-align: center;
   font-weight: bold;
   width: 200px;
   height: 32px;
   cursor: pointer;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.spacer {
   height: 20px;
}

.zt {
   font-style: italic;
   font-size: 16px;
   display: inline-block;
   width: -webkit-fill-available;
   padding-top: 0.5em;
}

.customize {
   font-style: italic;
   font-size: 24px;
   display: inline-block;
   width: fit-content;
   padding-top: 0.5em;
   cursor: pointer;
}

.customize_title {
   font-style: italic;
   font-size: 24px;
   cursor: pointer;
   width: fit-content;
}

.zoneTitle {
   color: black;
   margin-left: 2px;
   margin-bottom: 2px;
   margin-right: 8px;
   padding: 4px 0px 2px 0px;
   font-style: italic;
   font-size: 14px;
   text-align: center;
}

li.dropdowns {
   height: 36px;
   margin-top: 10px;
   display: flex;
   padding-right: 8px;
}

.area_border {
   border-bottom: 0.5em;
   border-bottom-style: solid;
   border-bottom-width: 0.1em;
   margin-bottom: 0.1em;
   margin-left: 2px;
   margin-right: 8px;
}

.select_color_picker {
   font-size: 12px;
   font-family: sans-serif;
   font-weight: 700;
   text-align: center;
   color: black;
   line-height: 1.5;
   padding: 0.3em 0em 0.3em 0em;
   width: 110px;
   max-width: 100%;
   box-sizing: border-box;
   margin: 0;
   border: 3px solid #aaa;
   border-radius: 0.5em;
   -moz-appearance: none;
   -webkit-appearance: none;
   appearance: none;
}

.red {
   background-color: red;
}

.crimson {
   background-color: crimson;
}

.orangered {
   background-color: orangered;
}

.orange {
   background-color: orange;
}

.salmon {
   background-color: rgb(255, 130, 130);
}

.yellow {
   background-color: yellow;
}

.goldenrod {
   background-color: goldenrod;
}

.limegreen {
   background-color: limegreen;
}

.green {
   background-color: green;
   color: #e5e5e5;
}

.olive {
   background-color: olive;
   color: #e5e5e5;
}

.blue {
   background-color: blue;
   color: #e5e5e5;
}

.darkcyan {
   background-color: darkcyan;
   color: #e5e5e5;
}

.cyan {
   background-color: cyan;
}

.indigo {
   background-color: rgb(138, 42, 138);
   color: #e5e5e5;
}

.darkorchid {
   background-color: darkorchid;
   color: #e5e5e5;
}

.violet {
   background-color: violet;
}

.pink {
   background-color: pink;
}

.grey {
   background-color: grey;
   color: #e5e5e5;
}

.brown {
   background-color: brown;
   color: #e5e5e5;
}

.white {
   background-color: white;
}

.tourian {
   background: red; /* For browsers that do not support gradients */
   background: -webkit-linear-gradient(
      left,
      orange,
      yellow,
      green,
      cyan,
      blue,
      violet
   ); /* For Safari 5.1 to 6.0 */
   background: -o-linear-gradient(
      right,
      orange,
      yellow,
      green,
      cyan,
      blue,
      violet
   ); /* For Opera 11.1 to 12.0 */
   background: -moz-linear-gradient(
      right,
      orange,
      yellow,
      green,
      cyan,
      blue,
      violet
   ); /* For Firefox 3.6 to 15 */
   background: linear-gradient(
      to right,
      orange,
      yellow,
      green,
      cyan,
      blue,
      violet
   ); /* Standard syntax (must be last) */
}
